.example-container {
    text-align: center;
    margin-top: 2%;
    pointer-events: all;
}

.headingStyle {
    float: left;
    margin-top: 3%;
}

.headName {
    margin-left: 80%;
    font-size: larger;
}

.boxStyle {
    background-color: white;
    width: 400px;
}

.mat-form-field {
    width: 100px;
}

.formField {
    margin-right: 3%;
}

.mat-card {
    width: 500px;
}